{{extend 'pledger_base.html'}}
<script type="text/javascript">
	refreshing_widgets = Array();
	jQuery(document).ready(function(){
	//Our scripts for this page will go here...
	//The buttons that need an overlay...
	$(".overlay_button")
		.live("click", function(){
			overlay = $(this).data("overlay");
			console.log(overlay);
			$("#"+overlay).toggle();
			return false;
		});
	//The x on the top left of the overlays to close the overlay...
	$('.overlay .close')
		.live("click", function(){
			$(this).parent().hide();
		});
	var widgets = Array();
	
	{{for widget in views:}}
	widgets.push("{{=widget}}");
	{{pass}}
	function refresher()
	{
		for (i in refreshing_widgets){
			$("#"+refreshing_widgets[i]).load("/{{=request.application}}/refresh/" + refreshing_widgets[i] + ".html");
			}
		refreshing_widgets = Array();
	}
	setInterval(refresher,10000);
	$(".producer_message")
		.live("click", function(){
			var location = "{{=URL('read_message')}}/" + $(this).data('id');
			$(this).load(location);
			return false;
		});
	$(".pledge_message")
		.live("click", function(){
			var location = "{{=URL('read_pledge')}}/" + $(this).data('id');
			$(this).load(location);
			return false;
		});
	});
</script>
<script type="text/javascript">
<!--
// Give "amount" form field focus onload
jQuery(".flash").html("").slideDown().delay(1000).slideUp();
//-->
</script>

{{block header}}
<div style="font-size: 1.5em;" align="center">
<iframe src="/pledgedrives/refresh/segment_navigation" width="45%" style="float:right">
</iframe>

{{if not session.organization:}}
    {{redirect(URL(r=request, c='default'))}}
{{elif not session.pledgedrive:}}
    {{redirect(URL(r=request, c='default'))}}
{{elif not session.segment:}}
    {{redirect(URL(r=request, c='default'))}}
{{else:}}
<a href="{{="/"+request.application+"/"}}">Home</a>  | 
{{=session.organization['name']}} : <span style="color: red">{{=session.organization['phone']}} / {{=session.organization['phone_long_distance']}}</span> or on the web at <span style="color: blue">{{=session.organization['url']}}</span>
{{pass}}

{{if response.helpurl:}}
| <A HREF={{=response.helpurl}} OnClick="return popup('{{=response.helpurl}}')">Help</A>
{{pass}}

</div>
{{end}}

{{for overlay in overlays:}}
<div id="{{=overlay}}" class="overlay">
	<a href="#" title="Close" class="close">X</a>
	{{=LOAD('refresh', overlay, ajax=True)}}
</div>
{{pass}}
<div class="toolbar">
{{for overlay in overlays:}}
	<button class="overlay_button" data-overlay="{{=overlay}}">{{=overlay}}</button>
{{pass}}
</div>
<div class="row">
{{for widget in views:}}
	<div id="{{=widget}}" class="widget shadow">
		{{=LOAD('refresh', widget, ajax=True)}}
	</div>
{{pass}}
</div>
{{block footer}}
{{pass}}
