<h1>Thank you Messages</h1>
<div>
<table>
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Comment</th>
        <th>Read</th>
		<th>Action</th>
	</tr>
    {{for h,item in enumerate(pledges):}}
	<tr class="{{='odd' if h%2 else 'even'}}">
		<td>{{=item['name']}}</td>
		<td>{{=item['amount']}}</td>
		<td>{{=item['comment']}}</td>
		<td>{{=item['read']}}</td>
        <td><a href="{{=URL(r=request,c='default',f='edit_pledge',args=item.id)}}">Edit</a></td>
	</tr>
    {{pass}}
</table>
</div>

<script type="text/javascript">
refreshing_widgets.push("pledge_list_all");
</script>
