<h1>Thank you Messages</h1>
<a href="{{=URL('default', 'list_pledges_by_segment')}}">Edit Pledges</a>
<div style="overflow:auto;height:150px;width:100%">
<table>
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Comment</th>
		<th>Time</th>
		<th>Action</th>
	</tr>
	{{for h,item in enumerate(pledges):}}
	<tr class="{{='odd' if h%2 else 'even'}}">
		<td>{{=item['name']}}</td>
		<td>{{=item['amount']}}</td>
		<td>{{=item['comment']}}</td>
{{
import datetime
offset = datetime.timedelta(hours=6)
p  = item['created_on']
p = p - offset
}}
		<td><span style="align:right">{{=p.strftime('%H:%M:%S')}}</span></td>
		<td><a class="pledge_message" data-id="{{=item.id}}" href="#">Hide</a></td>
	</tr>
	{{pass}}
</table
</div>

<script type="text/javascript">
refreshing_widgets.push("pledge_list");
</script>
