<h1>Thank you Messages</h1>
<div style="overflow:auto;height:160px;width:100%">
<form><input id="id" name="id" value="" style="border:1px"/><!-- type="hidden" --></form>
<table>
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Comment</th>
		<th>Hide</th>
		<th>Status</th>
	</tr>
    {{for h,item in enumerate(pledges):}}
	<tr class="{{='odd' if h%2 else 'even'}}">
		<td>{{=item['name']}}</td>
		<td>{{=item['amount']}}</td>
		<td>{{=item['comment']}}</td>
		<td><span id="item{{=item.id}}">{{=item.read}}</span> [<span onclick="jQuery('#id').val('{{=item.id}}');ajax('pledge_mark_as_read', ['id'], 'item{{=item.id}}');javascript:alert(jQuery('#id').val());">Mark as Read</span>]</td>
		<td>{{=item['read']}}</td>
	</tr>
    {{pass}}
</table>
</div>

<script type="text/javascript">
refreshing_widgets.push("pledge_list");
</script>
