
<h3>{{=session.segment['start_time']}} - {{=session.segment['title']}}</h3>


{{if session.segments[0]['start_time'] < session.segment['start_time'] :}}
    <button onclick="document.location='segment_navigation_previous'"><< Previous Segment</button>
{{else:}}
    <!-- Already at the first segment -->
{{pass}}

{{if session.segments[-1]['start_time'] > session.segment['start_time'] :}}
    <button onclick="document.location='segment_navigation_next'">Next Segment >></button>
{{else:}}
    <!-- Already at the last segment -->
{{pass}}

<br />
<button onclick="document.location='segment_select'">Select a Different Segment</button>
<script type="text/javascript">
<!--
var url = document.referrer
var last_slash = url.lastIndexOf("/") + 1
var page = url.substr(last_slash,100)
if (page == "pledge_entry")
  {
  // document.onload=alert(window.top.location.href);
  }
else if (page == "on_air")
  {
  // document.onload=alert(window.top.location.href);
  }
else
  {
  document.onload=alert(window.top.location.href);
  document.onload=alert(page);
  parent.location.reload();
  }
//-->
</script>
