
<h3>{{=session.segment['start_time']}} - {{=session.segment['title']}}</h3>


{{if session.segments[0]['start_time'] < session.segment['start_time'] :}}
    <button onclick="document.location='segment_navigation_previous'"><< Previous Segment</button>
{{else:}}
    <!-- Already at the first segment -->
{{pass}}

{{if session.segments[-1]['start_time'] > session.segment['start_time'] :}}
    <button onclick="document.location='segment_navigation_next'">Next Segment >></button>
{{else:}}
    <!-- Already at the last segment -->
{{pass}}

<br />
<button onclick="document.location='segment_select'">Select a Different Segment</button>


{{if session.refreshed > 0 :}}
    <!-- Already refreshed -->
    <script type="text/javascript">
    <!--
    // alert('{{=session.refreshed}}');
    //-->
    </script>
{{else:}}
    <!-- Refresh now -->
    <script type="text/javascript">
    <!--
    // alert('{{=session.refreshed}}');
    parent.location.reload();
    //-->
    </script>
{{pass}}

