<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<head>
 <title>Pledge Drive Manager</title>

<frameset  rows="35%,35%,*" cols="33%,33%,*">
    <frame name="goals" src="mini_segment_goal.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="segment_totals" src="mini_segment_totals.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="pledgedrive_totals" src="mini_pledgedrive_totals_no_reload.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">

    <frame name="pledge_names" src="mini_pledge_names_no_reload.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="challenges" src="mini_segment_challenge.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="message_list" src="mini_message_list.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">

    <frame name="pledge_names_nav" src="mini_pledge_names_nav.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="message_add" src="mini_message_add.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="currentprogram" src="mini_segment_navigation.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">

</frameset>
<noframes>
 <body bgcolor="#FFFFFF">
insert alternate presentation here
 </body>
</noframes>

</html>
