<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<head>
 <title>Pledge Drive Manager</title>

<frameset rows="55,*,10" cols="*" border="0" frameborder="NO">
    <frame src="frame_header.html" name="header" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
    <frame src="frame_onair.html" name="content" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
</frameset>
<noframes>
 <body bgcolor="#FFFFFF">
insert alternate presentation here
 </body>
</noframes>

</html>

