<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<head>
 <title>Pledge Drive Manager</title>

<frameset  rows="35%,35%,*" cols="33%,33%,*">
    <frame name="goals" src="viewgoals.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="challenges" src="viewchallenges.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="currentprogram" src="currentprogram.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="producer" src="/chat/producer_chat" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="producer" src="/chat/producer_messages" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">

    <frame name="programtotals" src="viewpledges.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="thankyou" src="/chat/thank_you_chat" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    <frame name="thankyou" src="/chat/thank_you_messages" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">

    <frame name="drivetotals" src="drivetotals.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
</frameset>
<noframes>
 <body bgcolor="#FFFFFF">
insert alternate presentation here
 </body>
</noframes>

</html>

