<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<head>
 <title>Pledge Drive Manager</title>

    <frameset  rows="45%,*" cols="35%,30%,*">
        <frame name="rightframe" src="/chat/producer_messages" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
        <frame name="rightframe" src="mini_segment_goal.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
        <frame name="rightframe" src="mini_segment_totals.html" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
        <frame name="leftframe" src="/chat/thank_you_chat" marginwidth="10" marginheight="10" scrolling="auto" frameborder="0">
        <frame name="leftframe" src="/chat/thank_you_messages" marginwidth="10" marginheight="10" scrolling="auto" frameborder="0">
        <frame name="rightframe" src="{{=URL(r=request,f='mini_create_pledge',args=session.segment[0]['id'])}}" marginwidth="10" marginheight="10" scrolling="auto" frameborder="1">
    </frameset>

<noframes>
 <body bgcolor="#FFFFFF">
insert alternate presentation here
 </body>
</noframes>

</html>
