{{response.files.append(URL(r=request,c='static',f='js/jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/demo_table.css'))}}
{{extend 'layout.html'}}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    jQuery('.smarttable').dataTable({
        "iDisplayLength": 100,
        "aaSorting": []
    });
} );
</script>

<h1>Segments by Pledgedrive</h1>

<button onclick="document.location='{{=URL(r=request,f='create_segment',args=pledgedrive.id)}}'">Create a New segment</button>

<div>
<table class="smarttable">
<thead>
<tr>
    <th>Title</th>
    <th>start_time</th>
    <th>end_time</th>
    <th>description</th>
    <th>goal</th>
    <th>goal_type</th>
    <th>program</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{{for segment in segments:}}
<tr>
    <td>{{=segment.title}}</td>    
    <td>{{=segment.start_time}}</td>
    <td>{{=segment.end_time}}</td>
    <td>{{=segment.description}}</td>
    <td>{{=segment.goal}}</td>
    <td>{{=segment.goal_type}}</td> 
    <td>{{=segment.program}}</td>
    <td>
    <a href="{{=URL(r=request,f='view_segment',args=segment.id)}}">View</a> | 
    <a href="{{=URL(r=request,f='edit_segment',args=segment.id)}}">Edit</a>
    </td>
</tr>
{{pass}}
</tbody>
</table>
</div>
