{{response.files.append(URL(r=request,c='static',f='js/jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/demo_table.css'))}}
{{extend 'layout.html'}}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    jQuery('.smarttable').dataTable();
} );
</script>

<h1>Pledges by Segment</h1>

<!-- <button onclick="document.location='{{=URL(r=request,f='create_pledge',args=segment_id)}}'">Create a New Pledge</button> -->

<div>
<table class="smarttable">
<thead>
<tr>
    <th>Amount</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Read</th>
    <th>Time Created</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{{for pledge in pledges:}}
<tr>
    <td>{{=pledge.amount}}</td>    
    <td>{{=pledge.name}}</td>
    <td>{{=pledge.comment}}</td>
    <td>{{=pledge.read}}</td>
    <td>{{=pledge.created_on}}</td>
   <td>
    <a href="{{=URL(r=request,f='edit_pledge',args=pledge.id)}}">Edit</a>
    </td>
</tr>
{{pass}}
</tbody>
</table>
</div>
