{{response.files.append(URL(r=request,c='static',f='js/jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/demo_table.css'))}}
{{extend 'layout.html'}}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    jQuery('.smarttable').dataTable({
        "iDisplayLength": 100,
        "aaSorting": []
    });
} );
</script>

<h1>Persons by Organization</h1>

<button onclick="document.location='{{=URL(r=request,f='create_person',args=organization.id)}}'">Create a New person</button>

<div>
<table class="smarttable">
<thead>
<tr>
    <th>Name</th>
    <th>Role</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{{for person in persons:}}
<tr>
    <td>{{=person.name}}</td>    
    <td>{{=person.role}}</td>
    <td>
    <a href="{{=URL(r=request,f='edit_person',args=person.id)}}">Edit</a>
    </td>
</tr>
{{pass}}
</tbody>
</table>
</tr>
