{{extend 'layout_plain.html'}}

<div id="content" style="background-color:white;">

<h2>{{=session.segment['start_time']}} - {{=session.segment['title']}}</h2>

<h3>Add Pledge</h3>

{{=form}}

{{if response.flash:}}
<div class="flash">{{=response.flash}}</div>
{{pass}}

<div style="height:25px;">
&nbsp;
</div>

{{if session.segments[0]['start_time'] < session.segment['start_time'] :}}
    <a href="{{=URL(r=request,f='mini_segment_navigation_previous_pledge')}}"><< Previous Segment</a> | 
{{else:}}
    <!-- Already at the first segment -->
{{pass}}

{{if session.segments[-1]['start_time'] > session.segment['start_time'] :}}
    <a href="{{=URL(r=request,f='mini_segment_navigation_next_pledge')}}">Next Segment >></a>
{{else:}}
    <!-- Already at the last segment -->
{{pass}}
<br />
<a href="{{=URL(r=request,f='mini_segment_select_pledge')}}">Select Different Segment</a>

</div>
