{{extend 'layout.html'}}
<h1>Quick Setup: Copy Pledgedrive</h1>

<h2>Target Pledge Drive</h2>
<p>
Update the text for the new pledge drive you are about to create in the form below. Be sure to update the individual dates for each day of the drive in the fields at the end of the form.
</p>

{{=form}}

<!-- 
<h2>Offset Segment Dates</h2>
{{=BEAUTIFY(original_segment_dates_labels)}}


<h2>Original Pledge Drive</h2>

<strong>Title:</strong> {{=session.pledgedrive['title']}}<br /> 
<strong>Start Time:</strong> {{=session.pledgedrive['start_time']}}<br /> 
<strong>End Time:</strong> {{=session.pledgedrive['end_time']}}<br /> 
<strong>Description:</strong> {{=session.pledgedrive['description']}}<br /> 
<strong>Pledge Goal:</strong> {{=session.pledgedrive['pledge_goal']}}<br /> 
<strong>Projected Average Pledge:</strong> {{=session.pledgedrive['projected_average_pledge']}}<br /> 

<h2>Original Segments</h2>
{{=BEAUTIFY(original_segments)}}

-->
<!--
{{=BEAUTIFY(session.pledgedrive)}}
{{=BEAUTIFY(session)}}
-->
