{{extend 'layout.html'}}
<h1>Select or Add an person</h1>

<div>
<form action="" enctype="multipart/form-data" method="post">
<select name="person_id">
{{for person in persons:}}
    <option value="{{=person.id}}">{{=person.name}}</option>
{{pass}}
</select>
<input type="submit" />
<div class="hidden">
<!-- input name="_formkey" type="hidden" value="54eeda43-d683-4c6e-880e-1a9fb249fb32" />
<input name="_formname" type="hidden" value="default" /-->
</div>
</form>
{{=button('Add a New person','create_person')}}
</div>

{{=BEAUTIFY(response._vars)}}
