{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    jQuery('.smarttable').dataTable();
} );
</script>

<h1>program</h1>
<table class="smarttable">
<thead>
    <th>Title</th>
    <th>Actions</th>
</thead>
<tbody>

<tr>
    <td>{{=program.title}}</td>    
    <td>
    <a href="{{=URL(r=request,f='edit_program',args=program.id)}}">Edit</a>
    </td>
</tr>

</tbody>
</table>
